{% extends "admin/base.html.twig" %}

{% block title %}
	Modification de la réservation numéro
	{{ booking.id }}
{% endblock %}

{% form_theme form _self %}

{% block body %}
	<div class="container">
		<h1>Modification de l'annonce numéro {{ booking.id}}</h1>
		{{ form_start(form)}}
		{{ form_widget(form) }}
		<button type="submit" class ="btn btn-primary">Enregistrer les modifications</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
